In [4]:
import pandas as pd
import yfinance as yf

In [2]:
apple = yf.Ticker("AAPL")
apple

yfinance.Ticker object <AAPL>

In [3]:
apple.history(period = "max")

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1980-12-12,0.100453,0.100890,0.100453,0.100453,469033600,0.0,0.0
1980-12-15,0.095649,0.095649,0.095213,0.095213,175884800,0.0,0.0
1980-12-16,0.088661,0.088661,0.088224,0.088224,105728000,0.0,0.0
1980-12-17,0.090408,0.090845,0.090408,0.090408,86441600,0.0,0.0
1980-12-18,0.093029,0.093466,0.093029,0.093029,73449600,0.0,0.0
...,...,...,...,...,...,...,...
2022-01-03,177.830002,182.880005,177.710007,182.009995,104487900,0.0,0.0
2022-01-04,182.630005,182.940002,179.119995,179.699997,99310400,0.0,0.0
2022-01-05,179.610001,180.169998,174.639999,174.919998,94537600,0.0,0.0
2022-01-06,172.699997,175.300003,171.639999,172.000000,96904000,0.0,0.0
2022-01-07,172.889999,174.139999,171.029999,172.169998,86580100,0.0,0.0

In [9]:
start = pd.Timestamp("12-18-1998")
apple.history(start = start)

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1998-12-17,0.252138,0.258358,0.250703,0.255965,330612800,0.0,0.0
1998-12-18,0.255487,0.270797,0.254530,0.269362,791492800,0.0,0.0
1998-12-21,0.270797,0.272711,0.262186,0.268405,357448000,0.0,0.0
1998-12-22,0.278452,0.291849,0.275582,0.290892,1150800000,0.0,0.0
1998-12-23,0.295676,0.310029,0.293763,0.304767,1235035200,0.0,0.0
...,...,...,...,...,...,...,...
2022-01-03,177.830002,182.880005,177.710007,182.009995,104487900,0.0,0.0
2022-01-04,182.630005,182.940002,179.119995,179.699997,99310400,0.0,0.0
2022-01-05,179.610001,180.169998,174.639999,174.919998,94537600,0.0,0.0
2022-01-06,172.699997,175.300003,171.639999,172.000000,96904000,0.0,0.0
2022-01-07,172.889999,174.139999,171.029999,172.169998,86580100,0.0,0.0

In [1]:
from source.market.assets import Asset