In [4]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [5]:
from quantfin.market.assets import Stock

In [7]:
apple = Stock(name="Apple Inc.", ticker="AAPL")
apple.get_prices()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1980-12-12,0.100453,0.100890,0.100453,0.100453,469033600,0.0,0.0
1980-12-15,0.095649,0.095649,0.095213,0.095213,175884800,0.0,0.0
1980-12-16,0.088661,0.088661,0.088224,0.088224,105728000,0.0,0.0
1980-12-17,0.090408,0.090845,0.090408,0.090408,86441600,0.0,0.0
1980-12-18,0.093029,0.093466,0.093029,0.093029,73449600,0.0,0.0
...,...,...,...,...,...,...,...
2022-01-03,177.830002,182.880005,177.710007,182.009995,104487900,0.0,0.0
2022-01-04,182.630005,182.940002,179.119995,179.699997,99310400,0.0,0.0
2022-01-05,179.610001,180.169998,174.639999,174.919998,94537600,0.0,0.0
2022-01-06,172.699997,175.300003,171.639999,172.000000,96904000,0.0,0.0
2022-01-07,172.889999,174.139999,171.029999,172.169998,86580100,0.0,0.0

In [8]:
tesla = Stock(name="Tesla Motors", ticker="TSLA")
tesla.get_prices()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2010-06-29,3.800000,5.000000,3.508000,4.778000,93831500,0,0.0
2010-06-30,5.158000,6.084000,4.660000,4.766000,85935500,0,0.0
2010-07-01,5.000000,5.184000,4.054000,4.392000,41094000,0,0.0
2010-07-02,4.600000,4.620000,3.742000,3.840000,25699000,0,0.0
2010-07-06,4.000000,4.000000,3.166000,3.222000,34334500,0,0.0
...,...,...,...,...,...,...,...
2022-01-03,1147.750000,1201.069946,1136.040039,1199.780029,34643800,0,0.0
2022-01-04,1189.550049,1208.000000,1123.050049,1149.589966,33416100,0,0.0
2022-01-05,1146.650024,1170.339966,1081.010010,1088.119995,26706600,0,0.0
2022-01-06,1077.000000,1088.000000,1020.500000,1064.699951,30112200,0,0.0
2022-01-07,1080.369995,1080.930054,1010.000000,1026.959961,27919000,0,0.0

In [10]:
import pandas as pd

In [12]:
multi_prices = pd.concat([apple.prices ,tesla.prices], axis=1,keys=[apple.ticker ,tesla.ticker])
multi_prices

                  AAPL                                                 \
                  Open        High         Low       Close     Volume
Date
1980-12-12    0.100453    0.100890    0.100453    0.100453  469033600
1980-12-15    0.095649    0.095649    0.095213    0.095213  175884800
1980-12-16    0.088661    0.088661    0.088224    0.088224  105728000
1980-12-17    0.090408    0.090845    0.090408    0.090408   86441600
1980-12-18    0.093029    0.093466    0.093029    0.093029   73449600
...                ...         ...         ...         ...        ...
2022-01-03  177.830002  182.880005  177.710007  182.009995  104487900
2022-01-04  182.630005  182.940002  179.119995  179.699997   99310400
2022-01-05  179.610001  180.169998  174.639999  174.919998   94537600
2022-01-06  172.699997  175.300003  171.639999  172.000000   96904000
2022-01-07  172.889999  174.139999  171.029999  172.169998   86580100

                                          TSLA                            \
           Dividends Stock Splits         Open         High          Low
Date
1980-12-12       0.0          0.0          NaN          NaN          NaN
1980-12-15       0.0          0.0          NaN          NaN          NaN
1980-12-16       0.0          0.0          NaN          NaN          NaN
1980-12-17       0.0          0.0          NaN          NaN          NaN
1980-12-18       0.0          0.0          NaN          NaN          NaN
...              ...          ...          ...          ...          ...
2022-01-03       0.0          0.0  1147.750000  1201.069946  1136.040039
2022-01-04       0.0          0.0  1189.550049  1208.000000  1123.050049
2022-01-05       0.0          0.0  1146.650024  1170.339966  1081.010010
2022-01-06       0.0          0.0  1077.000000  1088.000000  1020.500000
2022-01-07       0.0          0.0  1080.369995  1080.930054  1010.000000


                  Close      Volume Dividends Stock Splits
Date
1980-12-12          NaN         NaN       NaN          NaN
1980-12-15          NaN         NaN       NaN          NaN
1980-12-16          NaN         NaN       NaN          NaN
1980-12-17          NaN         NaN       NaN          NaN
1980-12-18          NaN         NaN       NaN          NaN
...                 ...         ...       ...          ...
2022-01-03  1199.780029  34643800.0       0.0          0.0
2022-01-04  1149.589966  33416100.0       0.0          0.0
2022-01-05  1088.119995  26706600.0       0.0          0.0
2022-01-06  1064.699951  30112200.0       0.0          0.0
2022-01-07  1026.959961  27919000.0       0.0          0.0

[10357 rows x 14 columns]