In [1]:
%load_ext autoreload
%autoreload 2

In [22]:
import yfinance as yf

In [23]:
msft = yf.Ticker("MSFT")
msft.info.keys()

dict_keys(['zip', 'sector', 'fullTimeEmployees', 'longBusinessSummary', 'city', 'phone', 'state', 'country', 'companyOfficers', 'website', 'maxAge', 'address1', 'industry', 'ebitdaMargins', 'profitMargins', 'grossMargins', 'operatingCashflow', 'revenueGrowth', 'operatingMargins', 'ebitda', 'targetLowPrice', 'recommendationKey', 'grossProfits', 'freeCashflow', 'targetMedianPrice', 'currentPrice', 'earningsGrowth', 'currentRatio', 'returnOnAssets', 'numberOfAnalystOpinions', 'targetMeanPrice', 'debtToEquity', 'returnOnEquity', 'targetHighPrice', 'totalCash', 'totalDebt', 'totalRevenue', 'totalCashPerShare', 'financialCurrency', 'revenuePerShare', 'quickRatio', 'recommendationMean', 'exchange', 'shortName', 'longName', 'exchangeTimezoneName', 'exchangeTimezoneShortName', 'isEsgPopulated', 'gmtOffSetMilliseconds', 'quoteType', 'symbol', 'messageBoardId', 'market', 'annualHoldingsTurnover', 'enterpriseToRevenue', 'beta3Year', 'enterpriseToEbitda', '52WeekChange', 'morningStarRiskRating', 'forwardEps', 'revenueQuarterlyGrowth', 'sharesOutstanding', 'fundInceptionDate', 'annualReportExpenseRatio', 'totalAssets', 'bookValue', 'sharesShort', 'sharesPercentSharesOut', 'fundFamily', 'lastFiscalYearEnd', 'heldPercentInstitutions', 'netIncomeToCommon', 'trailingEps', 'lastDividendValue', 'SandP52WeekChange', 'priceToBook', 'heldPercentInsiders', 'nextFiscalYearEnd', 'yield', 'mostRecentQuarter', 'shortRatio', 'sharesShortPreviousMonthDate', 'floatShares', 'beta', 'enterpriseValue', 'priceHint', 'threeYearAverageReturn', 'lastSplitDate', 'lastSplitFactor', 'legalType', 'lastDividendDate', 'morningStarOverallRating', 'earningsQuarterlyGrowth', 'priceToSalesTrailing12Months', 'dateShortInterest', 'pegRatio', 'ytdReturn', 'forwardPE', 'lastCapGain', 'shortPercentOfFloat', 'sharesShortPriorMonth', 'impliedSharesOutstanding', 'category', 'fiveYearAverageReturn', 'previousClose', 'regularMarketOpen', 'twoHundredDayAverage', 'trailingAnnualDividendYield', 'payoutRatio', 'volume24Hr', 'regularMarketDayHigh', 'navPrice', 'averageDailyVolume10Day', 'regularMarketPreviousClose', 'fiftyDayAverage', 'trailingAnnualDividendRate', 'open', 'toCurrency', 'averageVolume10days', 'expireDate', 'algorithm', 'dividendRate', 'exDividendDate', 'circulatingSupply', 'startDate', 'regularMarketDayLow', 'currency', 'trailingPE', 'regularMarketVolume', 'lastMarket', 'maxSupply', 'openInterest', 'marketCap', 'volumeAllCurrencies', 'strikePrice', 'averageVolume', 'dayLow', 'ask', 'askSize', 'volume', 'fiftyTwoWeekHigh', 'fromCurrency', 'fiveYearAvgDividendYield', 'fiftyTwoWeekLow', 'bid', 'tradeable', 'dividendYield', 'bidSize', 'dayHigh', 'regularMarketPrice', 'preMarketPrice', 'logo_url', 'trailingPegRatio'])

In [48]:
msft.recommendations

                               Firm       To Grade From Grade Action
Date
2012-03-16 08:19:00  Argus Research            Buy                up
2012-03-19 14:00:00  Hilliard Lyons  Long-Term Buy              main
2012-03-22 07:03:00  Morgan Stanley     Overweight              main
2012-04-03 11:53:00             UBS            Buy              main
2012-04-20 06:18:00   Deutsche Bank            Buy              main
...                             ...            ...        ...    ...
2022-01-03 20:23:49         Keybanc     Overweight              main
2022-01-26 14:06:23     BMO Capital     Outperform              main
2022-01-26 14:42:40     Oppenheimer     Outperform              main
2022-01-26 15:03:00  Morgan Stanley     Overweight              main
2022-01-26 15:06:01       Citigroup            Buy              main

[365 rows x 4 columns]

In [31]:
msft.news

[{'uuid': 'a5bc0efc-9e97-3c99-ba03-75a766efb10a',
  'title': 'Dow Jones Up As Stock Market Rally Keeps Rolling; Google Parent Alphabet Surges As PayPal Sinks',
  'publisher': "Investor's Business Daily",
  'link': 'https://finance.yahoo.com/m/a5bc0efc-9e97-3c99-ba03-75a766efb10a/dow-jones-up-as-stock-market.html',
  'providerPublishTime': 1643837210,
  'type': 'STORY'},
 {'uuid': 'd8788a8b-cfad-3518-9ffe-afa12fb1abe5',
  'title': 'Will Amazon Earnings Follow the Trend?',
  'publisher': 'Investopedia',
  'link': 'https://finance.yahoo.com/m/d8788a8b-cfad-3518-9ffe-afa12fb1abe5/will-amazon-earnings-follow.html',
  'providerPublishTime': 1643835087,
  'type': 'STORY'},
 {'uuid': 'b32b8ac8-e227-3785-bc12-1454ea6aa24d',
  'title': 'ETFs: Investors ‘taking sector bets on long-term growth,’ GTS principal says',
  'publisher': 'Yahoo Finance Video',
  'link': 'https://finance.yahoo.com/video/etfs-investors-taking-sector-bets-202102640.html',
  'providerPublishTime': 1643833262,
  'type': 'VIDEO'},
 {'uuid': 'e844f59e-e9f3-39be-8c60-b3632fabe371',
  'title': "Omicron led to 'short but shallow economic damage,' market strategist says",
  'publisher': 'Yahoo Finance Video',
  'link': 'https://finance.yahoo.com/video/omicron-led-short-shallow-economic-193511716.html',
  'providerPublishTime': 1643830511,
  'type': 'VIDEO'},
 {'uuid': '10990ba7-7a2d-3212-bbc1-c7013b41a85a',
  'title': 'Top 10 Stock Picks of Christopher Lyle’s SCGE Management',
  'publisher': 'Insider Monkey',
  'link': 'https://finance.yahoo.com/news/top-10-stock-picks-christopher-193434740.html',
  'providerPublishTime': 1643830474,
  'type': 'STORY'},
 {'uuid': '08561c49-1aed-38af-b580-d344931bf917',
  'title': 'Is Roblox Stock A Buy Right Now After Hitting All-Time Lows?',
  'publisher': "Investor's Business Daily",
  'link': 'https://finance.yahoo.com/m/08561c49-1aed-38af-b580-d344931bf917/is-roblox-stock-a-buy-right.html',
  'providerPublishTime': 1643828208,
  'type': 'STORY'},
 {'uuid': '5c83d3e4-0dea-310c-94ac-3d90af6a0af7',
  'title': 'Provident Wealth Management, LLC Buys iShares Core MSCI Emerging Markets ETF, First Trust ...',
  'publisher': 'GuruFocus.com',
  'link': 'https://finance.yahoo.com/news/provident-wealth-management-llc-buys-183826252.html',
  'providerPublishTime': 1643827106,
  'type': 'STORY'},
 {'uuid': '5bc967e6-ee2c-380e-9057-b43aceaaeb22',
  'title': "SlateStone Wealth, LLC Buys People's United Financial Inc, KeyCorp, SPDR NYSE Technology ETF, ...",
  'publisher': 'GuruFocus.com',
  'link': 'https://finance.yahoo.com/news/slatestone-wealth-llc-buys-peoples-183807122.html',
  'providerPublishTime': 1643827087,
  'type': 'STORY'}]

In [30]:
keys = ["title", "link"]
for i in range(len(msft.news)):
    for k in keys:
        print(i)
        print(k)
        print(msft.news[i].get(k))

0
title
Dow Jones Up As Stock Market Rally Keeps Rolling; Google Parent Alphabet Surges As PayPal Sinks
0
link
https://finance.yahoo.com/m/a5bc0efc-9e97-3c99-ba03-75a766efb10a/dow-jones-up-as-stock-market.html
1
title
Will Amazon Earnings Follow the Trend?
1
link
https://finance.yahoo.com/m/d8788a8b-cfad-3518-9ffe-afa12fb1abe5/will-amazon-earnings-follow.html
2
title
ETFs: Investors ‘taking sector bets on long-term growth,’ GTS principal says
2
link
https://finance.yahoo.com/video/etfs-investors-taking-sector-bets-202102640.html
3
title
Omicron led to 'short but shallow economic damage,' market strategist says
3
link
https://finance.yahoo.com/video/omicron-led-short-shallow-economic-193511716.html
4
title
Top 10 Stock Picks of Christopher Lyle’s SCGE Management
4
link
https://finance.yahoo.com/news/top-10-stock-picks-christopher-193434740.html
5
title
Is Roblox Stock A Buy Right Now After Hitting All-Time Lows?
5
link
https://finance.yahoo.com/m/08561c49-1aed-38af-b580-d344931bf917/is-roblox-stock-a-buy-right.html
6
title
Provident Wealth Management, LLC Buys iShares Core MSCI Emerging Markets ETF, First Trust ...
6
link
https://finance.yahoo.com/news/provident-wealth-management-llc-buys-183826252.html
7
title
SlateStone Wealth, LLC Buys People's United Financial Inc, KeyCorp, SPDR NYSE Technology ETF, ...
7
link
https://finance.yahoo.com/news/slatestone-wealth-llc-buys-peoples-183807122.html

In [3]:
apple = yf.Ticker(ticker="AAPL").history(period= "max")

In [76]:
apple[apple["Dividends"]!=0.0]

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1987-05-11,0.269450,0.278199,0.268576,0.269450,197276800,0.000536,0.0
1987-08-10,0.338125,0.338125,0.320605,0.338125,77996800,0.000536,0.0
1987-11-17,0.258097,0.259852,0.245807,0.245807,268800000,0.000714,0.0
1988-02-12,0.285874,0.292031,0.284994,0.288512,137760000,0.000714,0.0
1988-05-16,0.285558,0.291728,0.282033,0.290847,74760000,0.000714,0.0
...,...,...,...,...,...,...,...
2020-11-06,117.595056,118.469661,115.418471,117.962791,114457900,0.205000,0.0
2021-02-05,136.712456,136.782123,135.229367,136.125183,75693800,0.205000,0.0
2021-05-07,130.463840,130.872618,129.097873,129.825729,78973300,0.220000,0.0
2021-08-06,146.136718,146.895605,145.417766,145.927017,54067400,0.220000,0.0
2021-11-05,151.889999,152.199997,150.059998,151.279999,65414600,0.220000,0.0

In [69]:
apple[apple["Stock Splits"]!=0.0]

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1987-06-16,0.290447,0.292196,0.265951,0.290447,342720000,0.0,2.0
2000-06-21,0.773160,0.871718,0.770289,0.851624,490000000,0.0,2.0
2005-02-28,1.368109,1.382195,1.346063,1.373621,651610400,0.0,2.0
2014-06-09,20.787936,21.052551,20.574900,21.012186,301660000,0.0,7.0
2020-08-31,126.579941,129.973131,125.012324,128.028488,225702700,0.0,4.0

In [33]:
from quantfin.market.investment_universe import MarketIndex, InvestmentUniverse
from quantfin.portfolio_selection.portfolio_optimization import ObjectiveType, ConstraintType, OptimizationProblem
from quantfin.portfolio_selection.portfolio import Portfolio

In [10]:
nas = MarketIndex.NASDAQ100
universe = InvestmentUniverse(reference_index=nas)
tickers = [str(a) for a in universe.get_assets()]
yf.download(tickers = tickers, group_by="Ticker",).xs("Close", level=1, axis=1)

[*********************100%***********************]  101 of 101 completed

,MELI,SGEN,CHTR,MTCH,XLNX,ALGN,GILD,SBUX,FAST,ZS,...,CTSH,DXCM,TMUS,JD,EBAY,ISRG,ANSS,LCID,NFLX,BKNG
Date,,,,,,,,,,,,,,,,,,,,,
1962-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1962-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1962-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1962-01-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1962-01-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-01-24,1026.630005,129.550003,577.130005,117.250000,185.509995,474.429993,68.570000,98.099998,57.470001,243.199997,...,85.099998,426.829987,106.650002,71.739998,59.660000,271.980011,334.769989,37.750000,387.149994,2349.620117
2022-01-25,1001.650024,125.099998,563.539978,111.699997,173.160004,467.989990,68.839996,97.010002,55.680000,228.880005,...,82.250000,406.230011,105.669998,72.150002,58.180000,264.140015,321.609985,35.459999,366.420013,2329.020020
2022-01-26,975.640015,123.550003,555.000000,110.169998,175.380005,457.359985,67.339996,95.580002,55.320000,226.850006,...,81.830002,395.829987,104.220001,71.110001,57.709999,264.459991,318.070007,33.410000,359.700012,2370.629883
2022-01-27,992.500000,122.910004,561.030029,106.500000,173.419998,455.619995,67.269997,95.320000,54.830002,223.080002,...,81.790001,383.519989,106.029999,66.680000,56.700001,262.769989,309.619995,28.700001,386.700012,2359.649902
2022-01-28,1048.630005,127.620003,590.469971,109.220001,177.949997,463.959991,68.860001,97.209999,55.830002,238.699997,...,84.440002,413.390015,108.650002,69.339996,57.540001,271.790009,322.769989,27.150000,384.359985,2412.939941

In [3]:
nas = MarketIndex.NASDAQ100
universe = InvestmentUniverse(reference_index=nas)
universe.get_prices(prices_column="Close")

[*********************100%***********************]  101 of 101 completed

,ILMN,NFLX,PAYX,ADBE,FB,TSLA,PCAR,MNST,PYPL,KLAC,...,REGN,CSX,INTU,MAR,ORLY,BIIB,CRWD,PANW,MRNA,TMUS
Date,,,,,,,,,,,,,,,,,,,,,
1962-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1962-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1962-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1962-01-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1962-01-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-01-24,364.959991,387.149994,120.089996,519.659973,308.709991,930.000000,91.150002,88.139999,162.169998,391.100006,...,621.479980,34.360001,534.679993,155.740005,657.770020,224.690002,167.270004,504.209991,157.300003,106.650002
2022-01-25,344.760010,366.420013,118.769997,502.720001,300.149994,918.400024,93.949997,86.330002,158.199997,370.109985,...,603.190002,33.720001,515.989990,157.029999,646.369995,222.309998,158.589996,475.470001,152.539993,105.669998
2022-01-26,331.779999,359.700012,113.570000,500.809998,294.630005,937.409973,93.879997,84.589996,156.979996,380.600006,...,605.250000,33.650002,507.480011,158.729996,630.820007,219.600006,160.940002,476.239990,154.960007,104.220001
2022-01-27,324.359985,386.700012,111.599998,493.049988,294.640015,829.099976,93.220001,83.169998,158.110001,361.799988,...,608.719971,33.560001,517.219971,153.710007,634.669983,218.940002,159.809998,485.220001,148.619995,106.029999
2022-01-28,331.959991,384.359985,115.330002,518.159973,301.709991,846.349976,93.660004,85.309998,163.520004,366.649994,...,624.919983,34.430000,534.820007,159.380005,643.520020,225.210007,168.899994,496.170013,159.470001,108.650002