In [1]:
%load_ext autoreload
%autoreload 2

In [5]:
from datetime import date
from dateutil.relativedelta import relativedelta

In [7]:
start_date = str(date.today() - relativedelta(years=3))
end_date = str(date.today())

In [8]:
end_date

'2022-01-28'

In [64]:
import yfinance as yf

In [65]:
apple = yf.Ticker(ticker="AAPL").history(period= "max")

In [76]:
apple[apple["Dividends"]!=0.0]

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1987-05-11,0.269450,0.278199,0.268576,0.269450,197276800,0.000536,0.0
1987-08-10,0.338125,0.338125,0.320605,0.338125,77996800,0.000536,0.0
1987-11-17,0.258097,0.259852,0.245807,0.245807,268800000,0.000714,0.0
1988-02-12,0.285874,0.292031,0.284994,0.288512,137760000,0.000714,0.0
1988-05-16,0.285558,0.291728,0.282033,0.290847,74760000,0.000714,0.0
...,...,...,...,...,...,...,...
2020-11-06,117.595056,118.469661,115.418471,117.962791,114457900,0.205000,0.0
2021-02-05,136.712456,136.782123,135.229367,136.125183,75693800,0.205000,0.0
2021-05-07,130.463840,130.872618,129.097873,129.825729,78973300,0.220000,0.0
2021-08-06,146.136718,146.895605,145.417766,145.927017,54067400,0.220000,0.0
2021-11-05,151.889999,152.199997,150.059998,151.279999,65414600,0.220000,0.0

In [69]:
apple[apple["Stock Splits"]!=0.0]

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1987-06-16,0.290447,0.292196,0.265951,0.290447,342720000,0.0,2.0
2000-06-21,0.773160,0.871718,0.770289,0.851624,490000000,0.0,2.0
2005-02-28,1.368109,1.382195,1.346063,1.373621,651610400,0.0,2.0
2014-06-09,20.787936,21.052551,20.574900,21.012186,301660000,0.0,7.0
2020-08-31,126.579941,129.973131,125.012324,128.028488,225702700,0.0,4.0

In [14]:
tickers = ["AAPL", "GOOG", "MSFT"]
yf.download(tickers = tickers, start = start_date, end = end_date, group_by="Ticker",).xs("Close", level=1, axis=1)

[*********************100%***********************]  3 of 3 completed

                   GOOG        MSFT        AAPL
Date
2019-01-28  1070.079956  105.080002   39.075001
2019-01-29  1060.619995  102.940002   38.669998
2019-01-30  1089.060059  106.379997   41.312500
2019-01-31  1116.369995  104.430000   41.610001
2019-02-01  1110.750000  102.779999   41.630001
...                 ...         ...         ...
2022-01-20  2670.129883  301.600006  164.509995
2022-01-21  2601.840088  296.029999  162.410004
2022-01-24  2607.439941  296.369995  161.619995
2022-01-25  2534.709961  288.489990  159.779999
2022-01-26  2584.800049  296.709991  159.690002

[757 rows x 3 columns]

In [ ]:
cvs = yf.Ticker("CVS")
cvs_data = cvs.history(period="max")

In [33]:
from quantfin.market.investment_universe import MarketIndex, InvestmentUniverse
from quantfin.portfolio_selection.portfolio_optimization import ObjectiveType, ConstraintType, OptimizationProblem
from quantfin.portfolio_selection.portfolio import Portfolio

In [10]:
nas = MarketIndex.NASDAQ100
universe = InvestmentUniverse(reference_index=nas)
tickers = [str(a) for a in universe.get_assets()]
yf.download(tickers = tickers, group_by="Ticker",).xs("Close", level=1, axis=1)

[*********************100%***********************]  101 of 101 completed

,MELI,SGEN,CHTR,MTCH,XLNX,ALGN,GILD,SBUX,FAST,ZS,...,CTSH,DXCM,TMUS,JD,EBAY,ISRG,ANSS,LCID,NFLX,BKNG
Date,,,,,,,,,,,,,,,,,,,,,
1962-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1962-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1962-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1962-01-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1962-01-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-01-24,1026.630005,129.550003,577.130005,117.250000,185.509995,474.429993,68.570000,98.099998,57.470001,243.199997,...,85.099998,426.829987,106.650002,71.739998,59.660000,271.980011,334.769989,37.750000,387.149994,2349.620117
2022-01-25,1001.650024,125.099998,563.539978,111.699997,173.160004,467.989990,68.839996,97.010002,55.680000,228.880005,...,82.250000,406.230011,105.669998,72.150002,58.180000,264.140015,321.609985,35.459999,366.420013,2329.020020
2022-01-26,975.640015,123.550003,555.000000,110.169998,175.380005,457.359985,67.339996,95.580002,55.320000,226.850006,...,81.830002,395.829987,104.220001,71.110001,57.709999,264.459991,318.070007,33.410000,359.700012,2370.629883
2022-01-27,992.500000,122.910004,561.030029,106.500000,173.419998,455.619995,67.269997,95.320000,54.830002,223.080002,...,81.790001,383.519989,106.029999,66.680000,56.700001,262.769989,309.619995,28.700001,386.700012,2359.649902
2022-01-28,1048.630005,127.620003,590.469971,109.220001,177.949997,463.959991,68.860001,97.209999,55.830002,238.699997,...,84.440002,413.390015,108.650002,69.339996,57.540001,271.790009,322.769989,27.150000,384.359985,2412.939941

In [3]:
nas = MarketIndex.NASDAQ100
universe = InvestmentUniverse(reference_index=nas)
universe.get_prices(prices_column="Close")

[*********************100%***********************]  101 of 101 completed

,ILMN,NFLX,PAYX,ADBE,FB,TSLA,PCAR,MNST,PYPL,KLAC,...,REGN,CSX,INTU,MAR,ORLY,BIIB,CRWD,PANW,MRNA,TMUS
Date,,,,,,,,,,,,,,,,,,,,,
1962-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1962-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1962-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1962-01-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1962-01-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-01-24,364.959991,387.149994,120.089996,519.659973,308.709991,930.000000,91.150002,88.139999,162.169998,391.100006,...,621.479980,34.360001,534.679993,155.740005,657.770020,224.690002,167.270004,504.209991,157.300003,106.650002
2022-01-25,344.760010,366.420013,118.769997,502.720001,300.149994,918.400024,93.949997,86.330002,158.199997,370.109985,...,603.190002,33.720001,515.989990,157.029999,646.369995,222.309998,158.589996,475.470001,152.539993,105.669998
2022-01-26,331.779999,359.700012,113.570000,500.809998,294.630005,937.409973,93.879997,84.589996,156.979996,380.600006,...,605.250000,33.650002,507.480011,158.729996,630.820007,219.600006,160.940002,476.239990,154.960007,104.220001
2022-01-27,324.359985,386.700012,111.599998,493.049988,294.640015,829.099976,93.220001,83.169998,158.110001,361.799988,...,608.719971,33.560001,517.219971,153.710007,634.669983,218.940002,159.809998,485.220001,148.619995,106.029999
2022-01-28,331.959991,384.359985,115.330002,518.159973,301.709991,846.349976,93.660004,85.309998,163.520004,366.649994,...,624.919983,34.430000,534.820007,159.380005,643.520020,225.210007,168.899994,496.170013,159.470001,108.650002

In [10]:
min_variance = OptimizationProblem(
        returns=universe.prices.pct_change().dropna(),
        objective_type=ObjectiveType.VARIANCE,
    )
min_variance.add_constraint(constraint=ConstraintType.NO_SHORTSELLING)
min_variance_portfolio = min_variance.solve()

     pcost       dcost       gap    pres   dres
 0:  1.2960e-04 -1.0001e+00  1e+00  2e-16  1e+01
 1:  1.2956e-04 -1.0108e-02  1e-02  2e-17  1e-01
 2:  1.2620e-04 -2.0337e-04  3e-04  3e-16  3e-03
 3:  6.7363e-05 -1.7528e-05  8e-05  4e-16  8e-19
 4:  4.8210e-05  1.7696e-05  3e-05  2e-16  5e-19
 5:  4.2348e-05  3.4364e-05  8e-06  1e-16  2e-19
 6:  3.9480e-05  3.7732e-05  2e-06  1e-16  2e-19
 7:  3.8588e-05  3.8367e-05  2e-07  3e-17  2e-19
 8:  3.8448e-05  3.8441e-05  7e-09  3e-17  1e-19
Optimal solution found.

In [27]:
min_variance_portfolio.holdings.items()

dict_items([(ILMN, 0.0), (NFLX, 0.0), (PAYX, 0.0), (ADBE, 0.0), (FB, 0.0), (TSLA, 0.0), (PCAR, 0.03186144717553252), (MNST, 0.0), (PYPL, 0.0), (KLAC, 0.0), (ABNB, 0.015177000484854307), (AMAT, 0.0), (LCID, 0.0), (ADP, 0.0), (CDNS, 0.0), (WDAY, 0.0), (SBUX, 0.0), (EA, 0.07038073357064412), (PDD, 0.0), (NTES, 0.0012499479503491878), (DOCU, 0.0), (DXCM, 0.0), (WBA, 0.017784299483798515), (ANSS, 0.0), (LULU, 0.0), (AMZN, 0.0034359191250582987), (KDP, 0.04036629430269214), (ASML, 0.0), (JD, 0.019564494228357963), (KHC, 0.022877191525557252), (VRTX, 0.057166524725439524), (QCOM, 0.0), (XEL, 0.013626150671100677), (AMGN, 0.0), (NXPI, 0.0), (NVDA, 0.0), (CMCSA, 0.0), (BKNG, 0.0), (VRSN, 0.02711003605289408), (SIRI, 0.032440589763301615), (CPRT, 0.0), (HON, 0.013780183593381276), (EBAY, 0.0), (ZM, 0.014437798345691259), (COST, 0.04110605199563535), (GOOGL, 0.0), (VRSK, 0.0), (LRCX, 0.0), (GILD, 0.08745775754576428), (MU, 0.0), (FAST, 0.0), (DDOG, 0.0), (ODFL, 0.0), (XLNX, 0.0), (EXC, 0.0), (MDLZ, 0.12649902313717268), (IDXX, 0.0), (INTC, 0.0), (AEP, 0.1665458039518763), (MCHP, 0.0), (AAPL, 0.0), (GOOG, 0.0), (AVGO, 0.0), (ADI, 0.0), (ZS, 0.0), (MTCH, 0.0), (BIDU, 0.0001445083624851243), (AMD, 0.0), (ADSK, 0.0), (DLTR, 0.0), (CHTR, 0.0), (CSCO, 0.0), (FISV, 0.0), (ATVI, 0.014302745110256143), (SGEN, 0.0), (FTNT, 0.0), (MRVL, 0.0), (SWKS, 0.0), (PEP, 0.014559786484681607), (TEAM, 0.0), (ROST, 0.0), (MSFT, 0.0), (SPLK, 0.0), (CTSH, 0.0), (CTAS, 0.0), (OKTA, 0.0), (ISRG, 0.0), (SNPS, 0.0), (TXN, 0.0), (ALGN, 0.0), (MELI, 0.0), (REGN, 0.0), (CSX, 0.0006104013238204683), (INTU, 0.0), (MAR, 0.03095249507461068), (ORLY, 0.08158121630131339), (BIIB, 0.019523846362645304), (CRWD, 0.0016035129019437912), (PANW, 0.020213007112267246), (MRNA, 0.013305974272662672), (TMUS, 0.0), (EUR, 0.0003352590642121678)])

In [47]:
min_variance_portfolio.assets_returns.cov()

,ILMN,NFLX,PAYX,ADBE,FB,TSLA,PCAR,MNST,PYPL,KLAC,...,REGN,CSX,INTU,MAR,ORLY,BIIB,CRWD,PANW,MRNA,TMUS
ILMN,0.000560,0.000155,0.000060,0.000175,0.000163,0.000291,0.000018,0.000080,0.000260,0.000226,...,0.000080,0.000039,0.000166,0.000045,0.000025,0.000105,0.000302,0.000182,0.000290,0.000079
NFLX,0.000155,0.000594,0.000076,0.000207,0.000189,0.000195,-0.000003,0.000067,0.000223,0.000144,...,0.000095,0.000057,0.000201,0.000018,0.000051,0.000036,0.000257,0.000206,0.000108,0.000091
PAYX,0.000060,0.000076,0.000157,0.000095,0.000071,0.000078,0.000046,0.000084,0.000082,0.000111,...,0.000039,0.000082,0.000104,0.000091,0.000065,0.000020,0.000064,0.000060,-0.000031,0.000079
ADBE,0.000175,0.000207,0.000095,0.000356,0.000184,0.000288,0.000007,0.000099,0.000231,0.000242,...,0.000120,0.000056,0.000251,0.000051,0.000057,0.000070,0.000305,0.000208,0.000174,0.000062
FB,0.000163,0.000189,0.000071,0.000184,0.000347,0.000204,0.000054,0.000103,0.000209,0.000210,...,0.000081,0.000045,0.000165,0.000069,0.000051,0.000049,0.000149,0.000127,0.000092,0.000086
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
BIIB,0.000105,0.000036,0.000020,0.000070,0.000049,0.000026,-0.000004,0.000018,0.000056,0.000093,...,0.000084,-0.000001,0.000028,0.000022,0.000020,0.000893,0.000120,0.000013,0.000130,0.000028
CRWD,0.000302,0.000257,0.000064,0.000305,0.000149,0.000346,-0.000028,0.000090,0.000367,0.000279,...,0.000085,0.000048,0.000246,0.000047,0.000023,0.000120,0.000982,0.000423,0.000349,0.000065
PANW,0.000182,0.000206,0.000060,0.000208,0.000127,0.000254,-0.000006,0.000070,0.000232,0.000197,...,0.000071,0.000046,0.000195,0.000050,0.000054,0.000013,0.000423,0.000536,0.000139,0.000061
MRNA,0.000290,0.000108,-0.000031,0.000174,0.000092,0.000309,-0.000037,0.000014,0.000186,0.000212,...,0.000191,-0.000061,0.000148,-0.000168,-0.000022,0.000130,0.000349,0.000139,0.002588,-0.000033
TMUS,0.000079,0.000091,0.000079,0.000062,0.000086,0.000044,0.000034,0.000087,0.000116,0.000099,...,0.000054,0.000077,0.000093,0.000066,0.000068,0.000028,0.000065,0.000061,-0.000033,0.000244

In [54]:
min_variance_portfolio.assets_returns.cov()["TSLA"][["ILMN", "NFLX"]]

ILMN    0.000291
NFLX    0.000195
Name: TSLA, dtype: float64

In [62]:
min_variance_portfolio.holdings["ILMN"]

0.0

In [63]:
ptf_var = 0
for col in min_variance_portfolio.assets_returns.cov().columns:
    for row in min_variance_portfolio.assets_returns.cov().index:
        ptf_var += min_variance_portfolio.holdings[col] * min_variance_portfolio.assets_returns.cov()[col][row] * min_variance_portfolio.holdings[row]
ptf_var

3.841800844962892e-05

In [49]:
from quantfin.market.assets import Cash
ptf_var = 0
for asset, weight in min_variance_portfolio.holdings.items():
    if isinstance(asset, Cash):
        continue
    else:
        ptf_var += weight * min_variance_portfolio.assets_returns.cov()[asset.ticker][asset.ticker] * weight
ptf_var

1.2506786286785273e-05

In [45]:
min_variance_portfolio.expected_return*100*252

14.367518350291954